.CarouselBtn {
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
}
.CarouselBtn > div {
    width: 33%;
}

.storeResultWrapperHeader {
    background-color: #E7C7A7;
    display: flex;
    height: 40px;
    color: white;
    line-height: 30px;
    padding: 5px;
}

.backBtn {
    width: 10%;
    background-color: #a7c7e7;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.storeName {
    text-align: center;
    width: 80%;
}