.CategoriesWrapper {
    margin: 10px;
}

.CategoryWrapper {
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    line-height: 50px;
    font-size: 40;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}